@charset "UTF-8";

* {margin:0; padding:0; }

a { text-decoration:none ; color:#000000}


ul li {list-style:none;}

hr{
	size : 30;
	width : 960px; 
	margin-left : 150px;
	color : #EC4D36;
	}

.clearfix:after{content:'';display:block; clear:both;}

body { 
	background-image: 
	url(../images/bg8.jpg);
	
	color:white;
	overflow:scroll; padding-top:100px; 
}

header {	
	color:black;
	margin-top:20px;
	background:linear-gradient(white 50px, rgba(255,255,255,0.8) 50px, rgba(255,255,255,0.8) );
	height:50px;
	overflow:hidden;
	position:absolute;
	left:0; right:0;
	top:0;
}


nav {width:960px; margin:0 auto;}
nav > ul > li {float:left; line-height:50px; margin-right:40px;}
nav > ul > li ul{ width:100%;}



img{
	width : 300px;
	height : 400px;
	align : center;
}

section{
	margin-left:150px;
	float : left;
width : 30%;
height:300px;
line-height:200%;


}

nav{
	
	margin-right:50px;
	float : right;
width:50%;
height : 300px;
}


h1{ 
	margin-left:150px;
	font-size : 30px;
	margin-bottom : 20px;
}

table{
	
	padding:0;
	width :400px;
	height : 280px;
	margin-top : 40px;
}

.content{
	width:900px;
}

#notice{
text-align:center;

}

#notice-title{
	font-size : 20px;
font-weight : bold;
}


#reservation{
	font-size : 20px;
font-weight : bold;
color:#EC4D36;
}


/* logo image */
#vlogo{
	width : 50px;
	height : 50px;
}


/* Footer */

	#footer {
		padding: 4rem 0 2rem 0 ;
		
		text-align: center;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.5);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3rem 0 1rem 0 ;
			}

		}












